build/
*.ipr
*.iws
out/
*.iml
.gradle/
output/
bin/


.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
*.DS_Store

/fabric/run/*
/forge/run/*
!/fabric/run/ModularGuns/
!/forge/run/ModularGuns/